doctype html
html
	head
		link(rel='stylesheet', href='/css/main.css', type='text/css')

	title Welcome
	style(type='text/css').

	body
		a(href="/" class="links")
			img(src="images/logo.png" id="logo")
							
		div(class="navbar")
		nav
			ul
				li
				a About
				a How it works
				li
					if (user)
						a(href="/event/activityList") See all activities: #{search}
				li
					if (!user)
						a(href="/user/login")
							img(src="/images/user.png" id="userid")
				li
					if (user)
						a(href="/user/profile")
							img(src="/images/Nienke.png" id="userid")
				li
					if (user)
						a(href="/event/createActivity") Create an event
				
				li
					if (user)
						form(class="forms" method="POST" action="/user/logout")
							button(type='submit') Logout