html
	head
		link(rel='stylesheet', href='/css/main.css', type='text/css')
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
		link(href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet")

	title SPOTT'R
	style
	style(type='text/css').
		.ui-autocomplete {
			width:20%;
			position: relative;
			top: 0;
			left: 0;
			cursor: default;
			max-height: 95px; 
			overflow-y: scroll; 
			overflow-x: hidden;
		}
		
		.ui-state-active,
		.ui-widget-content .ui-state-active,
		.ui-widget-header .ui-state-active {
			border: 3px solid #57C26C;
			font-weight: bold;
			color: grey ;
		}
	body
	include header.pug

	div
		div(class='hBlock') 
			form(method='POST' action="/event/activityList" class='formField')
				img(src="images/texthomepage.png" id="texthp")
				input(type='text' id='searchBar' placeholder='Where do you want to meet up?' name='title')
				p(id='slogan') Because memories are made together.
	img(src="images/worldmap.png" id="wmap")

	div#search

	include footer.pug




	script.
		$(document).ready(function() {
			console.log ("Ready")
			var timeOut = Date.now()
			if (true){
				timeOut =Date.now()
				$("#searchBar").keyup(function(e) {
				console.log(e.which)
				var peter = $("#searchBar").val()
				console.log(peter)
				console.log("not Enter")
					if (e.which == 13){
						console.log("Press Enter" + e.which)
						$.ajax({
							type: "POST",
							url:"/event/activityList",
							data:  {searchData: peter},
							success: function(result){
								$.each(result, function(index, value){
									$("#search").html(`<p>${value}<p>`)
								})			
							}	
						})
					}//if 13
					else if (peter.length > 0) {
						
						console.log("It works:" + peter)
						$.ajax({
							type: "POST",
							url: "/",
							data: {searchData: peter},
							dataType: "json",
							success: function(result){

								$( "#searchBar" ).autocomplete({

									source: result.search
								})
							},
							error: function(err){
								console.log(err)
							}

						})//ajax2
					}//elseif
				})//keyup
			}//timeout
		})	
	