html
	head
		link(rel='stylesheet', href='/css/main.css', type='text/css')
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
		link(href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet")

	title SPOTT'R
	style(type='text/css').
		.ui-autocomplete {
			width:20%;
			position: relative;
			top: 0;
			left: 0;
			cursor: default;
			max-height: 95px; 
			overflow-y: scroll; 
			overflow-x: hidden;
		}
		
		.ui-state-active,
		.ui-widget-content .ui-state-active,
		.ui-widget-header .ui-state-active {
			border: 3px solid #57C26C;
			font-weight: bold;
			color: grey ;
		}

		#create {
			height: 5%;
		}

		.createEvent::after {
			content: "Create New Event";
			vertical-align: center;

		}
		.createEvent {	
			float: right;
		}

	body
	include header.pug

	div
		div(class="hBlock") 
			form(class="formField")
				img(src="images/texthomepage.png" id="texthp")
				input(type='text' id='searchBar' placeholder='Where do you want to meet up?' name='title')
				p(id='slogan') Because memories are made together.
	img(src="images/worldmap.png" id="wmap")
	a(href="/event/createActivity" class="links") 
		div(class="createEvent")
			img(src="/images/create.png" id="create")

	div#search

	include footer.pug

	script.
		$(document).ready(function() {
			console.log ("Ready")
			var timeOut = Date.now()

			 $('form').on('submit', function(e){
				var peter = $("#searchBar").val()			    
		      e.preventDefault(); /*prevents default of the form*/
		      console.log("cheeeeck")
			   $.ajax({ /*AJAX for event popup, sends to activityList POST route*/
					type: "POST",
					url:"/event/activityList",
					data:  {searchData: peter},
					success: function(result){ /*only if city matches DB 'city, it shows activities table'*/
						console.log("yeeeeea") /*when reached success, Ajax loads */	
						$.each(result, function(index, value){
							//console.log("values: " + value)
							$("#search").append(`<p>${value.activity}<p>`)
							$("#search").append(`<p>${value.meetpoint}<p>`)
							$("#search").append(`<p>${value.date}<p>`)
							$("#search").append(`<p>${value.time}<p>`)

							/*shows data from dB*/
						})			
					},
					error: function(error){
						console.log("errorrrr", error)
					}	
				})
			  });			
			if (true){
				timeOut =Date.now()
				$("#searchBar").keyup(function(e) {
				var peter = $("#searchBar").val()				
				console.log(e.which)
					if (e.which == 13){
						console.log("Press Enter" + e.which)
						
					}
					else if (peter.length > 0) {
						console.log("It works:" + peter)
						$.ajax({ /*AJAX for searchbar cities*/
							type: "POST",
							url: "/",
							data: {searchData: peter},
							dataType: "json",
							success: function(result){

								$( "#searchBar" ).autocomplete({

									source: result.search
								})
							},
							error: function(err){
								console.log(err)
							}

						})//ajax2
					}//elseif
				})//keyup
			}//timeout
		})	
	