html
	head
		//- link(rel='stylesheet', href='/main.css', type='text/css')
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
		link(href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet")

	title SPOTT'R
	style
		include main.css
	body
		include header.pug

	div
		div(class='hBlock') 
			form(method='POST' action='/dropMessage' class='formField')
				img(src="images/texthomepage.png" id="texthp")
				input(type='text' id='searchBar' name='title' value='Where do you want to meet up?')
				//- input(type='submit' value='Submit' style='margin:15px 0px 25px 0px;')
				p(id='slogan') Because memories are made together.
			img(src="images/worldmap.png" id="wmap")


	include footer.pug




	script.
		$(document).ready(function() {
			console.log ("Ready")
			var timeOut = Date.now()
			$("#autocomplete").keyup(function() { 
			if (Date.now()-timeOut >=300){
				timeOut =Date.now()
				var peter = $("#autocomplete").val()
				if (peter.length > 0 ) {
				console.log("peterrrr:" + peter)
				$.ajax({
					type: "POST",
					url: "/search",
					data: {searchData: peter},
					dataType: "json",
					success: function(result){

					$( "#autocomplete" ).autocomplete({

						source: result.search
					});
						console.log("The Result", result)
					},
					error: function(err){
						console.log(err)
					}

				})}

			}})
		})