html
	head
		link(rel='stylesheet', href='/css/main.css', type='text/css')
		title Login
		style(type='text/css').
			.fnav{
				bottom:0;
			}
			input{
				padding: 5px 10px 5px 10px;
				margin: 5px 0px 15px 0px;
				width: 75%;
			}

			p{
				text-align:left;
			}

			h3{
				padding: 20px 0px 20px 150px;
			}

			.forms{
				text-align:center;
				max-width: 350px;
				display: block;
				margin: 0 auto;
			}

			#send{
				width:30%;
			}
			
		body
			include header.pug
			
			h1 Log in to see the posts.
			form(class="forms" method="POST" action="/user/login")
				br
				|
				input(type="text" placeholder="username" name="username") 
				br
				|
				input(type="password" placeholder="password" name="password")
				br
				input(type="submit" id="send" value="Login!")
		include footer.pug