html
	head
		title Login
		style
			include main.css
		body
			include header.pug
			h1 Log in to see the posts.
			form(class="forms" method="POST" action="/user/login")
				br
				|
				input(type="text" placeholder="username" name="username") 
				br
				|
				input(type="password" placeholder="password" name="password")
				br
				input(type="submit" value="Login!")
			include footer.pug