html
	head
		link(rel='stylesheet', href='/css/main.css', type='text/css')
		script(src="https://code.jquery.com/jquery-3.2.1.js"
				integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
				crossorigin="anonymous")
	title Signup
	style(type='text/css').
		.fnav{
				bottom:0;
			}

		input{
			padding: 5px 10px 5px 10px;
			margin: 5px 0px 15px 0px;
			width: 75%;
		}

		p{
			text-align:left;
		}

		h3{
		padding: 20px 0px 40px 0px;
		text-align:center;
		}

		.forms{
			text-align:center;
			max-width: 350px;
			display: block;
			margin: 0 auto;
		}

		#send{
			width:30%;
		}

	body
		include header.pug
		h1 Welcome, new user. 
		h3 Please sign up to send a message:
		form(class="forms" method="POST" action="/user/signup")
			p Enter a Username: 
			input(type="text" placeholder="Username" name="username")
			p Enter an email address: 
			input(type="text" placeholder="Email" name="email")
			p Enter a password: 
			input(type="password" placeholder="Password" id="password" name="password")
			p Confirm password: 
			input(type="password" placeholder="Confirm password" id="password2" name="password2")
			br
			input(type="submit" id="send" value="Signup!")

		include footer.pug
		script.
			$(document).ready(function() {
				$(".forms").submit(function(event){
					const pass = $("#password").val()
					console.log(pass) 
					const passCheck = $("#password2").val()
					console.log(passCheck) 
					if(pass !== passCheck) {
						event.preventDefault()
						alert("Password does not match")
					}
				})
			})