doctype html
html
	head
		link(rel='stylesheet', href='/css/main.css', type='text/css')

	title Welcome
	style(type='text/css').

	body
		div(class="navbar")
		nav
			ul
				img(src="/../img/logo.png" id="logo")
				a(href='/') About
				a(href="view") How it works